.DS_Store
plot*
insave*
*.f~
/angeng
/sdcscl
/sdcscm
/sdcsfcm
/sdcsflb
/sdcstotlb
/sdlbcl
/fragss
/gammaspec
/labangd
/labengd
/labout
/labspec
/mcspec
/ddcsfcm
/ddcsflb
/ddcstotlb
/ejplanes
/fizisomr
/fizisrat
/fizybya
/fizylds
/fizzers
/fizzersj
/endf
/engang
/fizej
/fort.16
/fout
/outpt
